

<nav class="bg-neutral-primary  w-full  border-b border-default">
  <div class="flex flex-wrap items-center justify-between mx-auto p-4">
  <a  class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="/personal_Image.jpeg" class="h-10 rounded-full" alt="Angular Logo" />
      <span class="self-center text-xl text-heading font-semibold whitespace-nowrap">Muhammad Ragab</span>
  </a>
  <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <button type="button" class="flex text-sm bg-neutral-primary rounded-full md:me-0 focus:ring-4 focus:ring-neutral-tertiary" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
        <span class="sr-only">Open user menu</span>
        <img class="w-8 h-10 rounded-full" src="/personal_Image.jpeg" alt="user photo">
      </button>
      <!-- Dropdown menu -->
      <div class="z-50 hidden bg-neutral-primary-medium border border-default-medium rounded-base shadow-lg w-44" id="user-dropdown">
        <div class="px-4 py-3 text-sm border-b border-default">
          <span class="block text-heading font-medium cursor-pointer" routerLink="/profile" >{{user.name}}</span>
        </div>
        <ul class="p-2 text-sm text-body font-medium" aria-labelledby="user-menu-button">
          <li>
            <a  routerLink="/change" routerLinkActive="router-link-active"  class="inline-flex items-center w-full p-2 cursor-pointer hover:bg-neutral-tertiary-medium hover:text-heading rounded">Settings</a>
          </li>
          <li>
            <a (click)="SignOut()" class="inline-flex  cursor-pointer items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded">logOut</a>
          </li>
        </ul>
      </div>
      <button data-collapse-toggle="navbar-user" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-body rounded-base md:hidden hover:bg-neutral-secondary-soft hover:text-heading focus:outline-none focus:ring-2 focus:ring-neutral-tertiary" aria-controls="navbar-user" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14"/></svg>
      </button>
  </div>
  
        <input type="text" class="bg-gray-100  border-black rounded-2xl focus:placeholder-gray-100"placeholder="search for any post" [(ngModel)]="text"]>
      
  <div class="items-center justify-between  hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
    <ul class="font-medium flex w-full flex-col p-4  mt-2 border border-default rounded-full bg-neutral-secondary-soft md:flex-row md:space-x-8 rtl:space-x-reverse   md:bg-neutral-primary">
      
      <li>
        <a   routerLink="/feed"     routerLinkActive="text-mainColor bg-white" class=" cursor-pointer bg-white text-gray-600 " aria-current="page">Feed</a>
      </li>
       <li>
        <a routerLink="/profile"    routerLinkActive="text-mainColor bg-white"   class="cursor-pointer bg-white text-gray-600 " aria-current="page">Profile</a>
      </li>
       <li>
        <a routerLink="/notification" routerLinkActive="text-mainColor bg-white" class="cursor-pointer bg-white text-gray-600 " aria-current="page">Notifications</a>
      </li>
    </ul>
  </div>
  </div>
</nav>

